@page 
@model PSI_application_C__web.Pages.Page_commentairesModel
@{
    ViewData["Title"] = "Page commentaire";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSI_application_C__web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <a asp-page="/Page_accueil_connecte" class="btn">Accueil</a>
        </div>
        <div>
            <a asp-page="/Page_1er_chargement" class="btn">Déconnexion</a>
        </div>
    </header>

    <main>
        <h1>Voici vos Statistiques</h1>

        <div>
            @foreach (var Commentaire in Model.Commentaires)
            {
                <table>
                    <tr>
                        <td>Nom : @Commentaire.Nom</td>
                    </tr>
                    <tr>
                        <td>Prenom : @Commentaire.Prenom</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;">Plat du jour : @Commentaire.Note_Commentaire</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;">Nombre commandes cuisinées : @Commentaire.Texte_Commentaire</td>
                    </tr>
                </table>
                <br />
            }
        </div>



    </main>

    <footer style="text-align: center; margin-top: 40px;">
        &copy; 2025 - Application - <a asp-page="/Privacy">Confidentialité</a>
    </footer>
</body>
</html>
